# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
.env

# Virtual environment
venv/
env/
ENV/
env.bak/
.venv/
pip-wheel-metadata/
pip-egg-info/
.python-version

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
